body, button, p, .bannertext, .bannertext2, .frame p, .find-by, .category, .ViewAll {
    font-family: "Montserrat", sans-serif;
}
.bannertext, .bannertext2, .LearnMore{
    color: white;
}
.ViewAll, .frame p, .LearnMore {
    font-size: 15px;
}
.banner,.ViewAll,.frame,.LearnMore{
    border-radius: 10px;
}
.banner {
    width: 89%;
    margin: 0 auto;
    padding: 20px;
    background: url('tłobanneru.png') center/cover no-repeat;
}

.bannertext {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bannertext2 {
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 0;
    font-weight: 400;
}

.bannertext2 p {
    margin-bottom: 5px;
}

.LearnMore {
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    width: 170px;
    height: 40px;
    background-color: rgba(32, 114, 168, 0.7);
    border: none;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.LearnMore:hover {
    background-color: #0056b3; 
}


.frame-container {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 250px); 
    gap: 40px;
}

.frame {
    border: 1px solid #ddd;
    height: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    transition: transform 0.3s ease;
}

.frame img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: grayscale(100%);
}

.frame:hover img {
    filter: grayscale(0%);
    transform: scale(0.95);
}

.frame p {
    margin: 10px;
    color: #333;
    font-weight: 600;
}

.findbyCATEGORY-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 0;
    height: 100px;
}

.findbyCATEGORY {
    width: 50%;
    font-size: 30px;
}

.find-by, .category {
    font-size: 26px;
}

.find-by {
    color: grey;
    font-weight: 300;
}

.category {
    color: #0071BC;
    font-weight: 500;
}

.ViewAll-container {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    padding: 0 0px;
}

.ViewAll {
    width: 100px;
    background-color: white;
    color: grey;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    border:none;
}

.ViewAll i {
    margin-right: 8px;
}

.ViewAll:hover {
    color: #0071BC;
}